# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
.env

# VSCode
.vscode/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.orig
*/migrations/*.log

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db
